$dividerColor:#bbbbbb;
$mainTypographyColor:#2e363b;
$offTypographyColor:#8c9197;
$headerBackgroundColor: #13807e;
$mainBackgroundColor:#EFEFEF;
$accentColor:#056EC8;
$arcBlue:#056ec8;
$arcGray:#e8e8e8;
$coolGray: #999ea2;