@import '../Globals/Globals';

.arc-header {
  align-items: center;
  //background: $headerBackgroundColor;
  background: var(--primary-color);
  display: flex;
  height: $headerHeight;
  justify-content: space-between;
  left: 0;
  line-height: $headerHeight;
  padding: 0 $edgePadding 0 ($edgePadding - 10);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;

  &__logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }

  &__left {
    align-items: center;
    display: flex;
  }

  &__right {
    align-items: center;
    display: flex;
    position:relative;
  }

  &__build-modal-container {
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  &__build-modal {
    background-color: white;
    border: 1px solid $dividerColor;
    cursor: default;
    max-width: 500px;
    position: relative;
    width: 100%;
    z-index: 105;
  }

  &__build-modal-title {
    align-items: center;
    border-bottom: 1px solid $dividerColor;
    display: flex;
    font-size: 15px;
    font-weight: bold;
    height: 60px;
    padding: 0 15px;
    width: 100%;
  }

  &__build-modal-close {
    position: absolute;
    right: 15px;
    top: 10px;
  }

  &__build-modal-body {
    padding: 15px;
  }
  &__lang-select {
    position:relative;
    font-size: 14px;
    line-height:14px;
    padding: 15px 50px 15px 18px;
    font-weight: bold;
    color: #ffffff;
    cursor:pointer;
    outline:none;
    text-transform:uppercase;
    border-radius: 2px;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border:none;
    //min-width: 180px;
    text-align:right;
    &:before {
      content:"";
      position:absolute;
      right:19px;
      top:14px;
      height:10px;
      width:10px;
      border-style:solid;
      border-color:#ffffff;
      border-width:0px 2px 2px 0px;
      transform:rotate(45deg);
      transform-origin:50% 50%;
      transition:all 150ms ease-in-out;
    }
    &.active {
      background:#ffffff;
      color: #4a4a4a;
      &:before {
        border-color:#4a4a4a;
        transform:rotate(-135deg) translateY(-4px) translateX(-4px);
      }
    }
  }
}