@import '../Globals/Globals';

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700');  

html {
  box-sizing: border-box;
  background: $mainBackgroundColor;
  color: $mainTypographyColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:'Source Sans', sans-serif !important;
  height: 100%;
}

body {
  height: calc(100vh - #{$headerHeight});
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, button, textarea, a.action-button {
  margin: 0;
  font-size: 1em;
  border: none;
  font-family: 'Open Sans', sans-serif;
}

strong {
  font-weight: 500;
}

.alert-modal{
  font-family:'Open Sans', sans-serif !important;
}

/*Modal Styles*/
.swal2-confirm{
  margin: 15px 5px 0;
  padding: 10px 32px;
  color: $arcBlue;
  transition: all .3s ease;
  &:hover{
    border: 1px solid $arcBlue;
    color: $arcBlue;
    border-radius: 2px;
  }
}
.swal2-cancel{
  margin: 15px 5px 0;
  padding: 10px 32px;
  color: $mainTypographyColor;
  transition: all .3s ease;
  &:hover{
    border: 1px solid $arcBlue;
    color: $mainTypographyColor;
    border-radius:2px;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.arc-root {
  display: flex;
  flex-direction: row;
  margin-top: $headerHeight;
}

.arc-body {
  height: calc(100vh - #{$headerHeight});
  width: calc(100% - #{$controlsWidth});
}

.sidebar {
  background-color: white;
  border-right: 1px solid $dividerColor;
  height: calc(100vh - #{$headerHeight});
  width: $controlsWidth;
}